@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Monteserrat-Thin;
    src: url("./fonts/Montserrat-Thin.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Monteserrat-Light;
    src: url("./fonts/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: 300;
}